name: Tests

on:
  workflow_dispatch:
  push:
    paths:
      - "go.mod"
      - "go.sum"
      - "**.go"
    branches:
      - "master"
  pull_request:
    paths:
      - "go.mod"
      - "go.sum"
      - "**.go"
    branches:
      - "master"

permissions:
  contents: read

jobs:
  golangci:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    name: lint
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
          cache-dependency-path: go.sum
      - name: Lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.8
